@{
    ViewData["Title"] = "Success";
}

<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1 style="color:green">SUCCESS</h1>
    </div>
</div>